{{- $items := .media -}}
{{- $layout := .layout | default "stacked" -}}
{{- with $items -}}
  {{- $people := where . "person" true -}}
  {{- $mediaItems := where . "person" "ne" true -}}
  {{- if eq $layout "inline" -}}
    <div class="new-partners-research-media new-partners-research-media--inline">
      {{- range . -}}
        {{- if .person -}}
          {{ partial "new-partners/team-person.html" . }}
        {{- else -}}
          {{ partial "new-partners/media-item.html" . }}
        {{- end -}}
      {{- end -}}
    </div>
  {{- else -}}
    {{- with $people -}}
      <div class="new-partners-team-people">
        {{- range . -}}{{ partial "new-partners/team-person.html" . }}{{- end -}}
      </div>
    {{- end -}}
    {{- with $mediaItems -}}
      <div class="new-partners-media-grid">
        {{- range . -}}{{ partial "new-partners/media-item.html" . }}{{- end -}}
      </div>
    {{- end -}}
  {{- end -}}
{{- end -}}
